openai
datasets
ruff
aiofiles
altair
tiktoken
rouge-score
protobuf
bert_score
evaluate
cohere
google-genai
anthropic[vertex]
scikit-learn
accelerate>=0.26.0
sacrebleu
flash-attn --no-build-isolation

